table {
  border: 1px solid gray;
  background-color: #d6e9c6;
  font-family: "Monaco";
  tr {
    td{
      padding: 5px;
    }
  }
}

.title {
  background-color: #d6e9c6;
}

.content {
  background-color: #bce8f1;
}

.blank {

}